{% extends 'base.html' %}

<!-- Navigation -->
<header>
    <!-- ======================================Navigation Bar================================================= -->
    <nav class="navbar navbar-expand-lg navStyle">
        <a class="brand-navbar" href="accueil.html">
            <h2>Crypto Tracker</h2>
        </a>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto navList">
                <li class="nav-item active">
                    <a href="remove.html" class="nav-link">
                        <i class="fa-thin fa-pen"></i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="add.html" class="nav-link">
                        <i class="fa-duotone fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ======================================carousel================================================= -->



</header>

{% block content %}
    <!-- ici le html -->
{% endblock %}