<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La crypto est à l'ordre du jour">
    <meta name="author" content="">
    <title>crypto_tracker</title>

    <meta property="og:title" content="La crypto est à l'ordre du jour" />
    <meta property="og:type" content="website" />

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='static/node_modules/bootstrap/dist/css/bootstrap/bootstrap.min.css') }}"
        rel="stylesheet">

    <!-- Style CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>

<body>
    
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- FOOTER -->


    <!-- Jsuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Pooper JavaScript -->
    <script src="{{ url_for('static', filename='node_modules/@pooperjs/core/lib/pooperjs') }}"></script>

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <!-- <script src="{{ url_for('static', filename='js/freelancer-theme.min.js') }}"></script> -->

</body>

</html>